generic-service:
  nameOverride: hmpps-support-additional-needs-api
  productId: "DPS124" # productId for the product that this belongs too, i.e. DPS001, see README.md for details

  replicaCount: 4

  image:
    repository: ghcr.io/ministryofjustice/hmpps-support-additional-needs-api
    tag: app_version # override at deployment time
    port: 8080

  ingress:
    enabled: true
    hosts:
      - app-hostname.local # override per environment
    tlsSecretName: hmpps-support-additional-needs-api-cert

  # Environment variables to load into the deployment
  env:
    JAVA_OPTS: "-Xmx512m"
    SERVER_PORT: "8080"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json
    PES_CONTRACT_DATE: "2025-10-01"

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-support-additional-needs-api-application-insights:
      APPLICATIONINSIGHTS_CONNECTION_STRING: "APPLICATIONINSIGHTS_CONNECTION_STRING"
    hmpps-support-additional-needs-api-client-creds:
      PRISONER_SEARCH_API_CLIENT_ID: "PRISONER_SEARCH_API_CLIENT_ID"
      PRISONER_SEARCH_API_CLIENT_SECRET: "PRISONER_SEARCH_API_CLIENT_SECRET"
      CURIOUS_API_CLIENT_ID: "CURIOUS_API_CLIENT_ID"
      CURIOUS_API_CLIENT_SECRET: "CURIOUS_API_CLIENT_SECRET"
      MANAGE_USERS_API_CLIENT_ID: "MANAGE_USERS_API_CLIENT_ID"
      MANAGE_USERS_API_CLIENT_SECRET: "MANAGE_USERS_API_CLIENT_SECRET"
    rds-postgresql-instance-output:
      DB_SERVER: "rds_instance_address"
      DB_NAME: "database_name"
      DB_USER: "database_username"
      DB_PASS: "database_password"

    # Inbound SQS config
    hmpps-domain-events-topic:
      HMPPS_SQS_TOPICS_DOMAINEVENTS_ARN: "topic_arn"
    hmpps-support-additional-needs-domain-events-sqs-instance-output:
      HMPPS_SQS_QUEUES_SUPPORTADDITIONALNEEDS_QUEUE_NAME: "sqs_queue_name"
    hmpps-support-additional-needs-events-sqs-dl-instance-output:
      HMPPS_SQS_QUEUES_SUPPORTADDITIONALNEEDS_DLQ_NAME: "sqs_queue_name"

  allowlist:
    groups:
      - internal

generic-prometheus-alerts:
  targetApplication: hmpps-support-additional-needs-api
