# General
PRODUCT_ID=DPS124
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=dev
HMPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth

# Database
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/support-additional-needs-api-db
DB_USER=admin
DB_PASS=admin_password

# DPR
DPR_USER=dpr_user
DPR_PASSWORD=dpr_password

# APIs
SERVICE_BASE_URL=http://localhost:8080
#SERVICE_BASE_URL=https://support-for-additional-needs-api-dev.hmpps.service.justice.gov.uk
UI_SERVICE_BASE_URL=https://support-for-additional-needs-dev.hmpps.service.justice.gov.uk
PRISONER_SEARCH_API_URL=https://prisoner-search-dev.prison.service.justice.gov.uk
CURIOUS_API_URL=https://testservices.sequation.net/sequation-virtual-campus2-api
MANAGE_USERS_API_URL=https://manage-users-api-dev.hmpps.service.justice.gov.uk
BANK_HOLIDAYS_API_URL=https://www.gov.uk

# Feature flags or parameters
PES_CONTRACT_DATE=2025-10-01
REVIEW_DEADLINE_DAYS_TO_ADD=5
ADDITIONAL_REVIEW_DATE_LOGIC=true

# More for dev/test, local run
HMPPS_SQS_ENABLED=false
HMPPS_SAR_ADDITIONALACCESSROLE=ROLE_SUPPORT_ADDITIONAL_NEEDS__ELSP__RW

# ================================ SECRETS ================================
## get it by `NS=hmpps-support-additional-needs-dev && K8S_SECRET=hmpps-support-additional-needs-api-client-creds && kubectl -n $NS get secret $K8S_SECRET -o json | jq '.data | map_values(@base64d)'`
CURIOUS_API_CLIENT_ID=
CURIOUS_API_CLIENT_SECRET=
MANAGE_USERS_API_CLIENT_SECRET=
MANAGE_USERS_API_CLIENT_ID=
PRISONER_SEARCH_API_CLIENT_ID=
PRISONER_SEARCH_API_CLIENT_SECRET=
