version: "3"
services:
  hmpps-support-additional-needs-api:
    build:
      context: .
    networks:
      - hmpps
    container_name: hmpps-support-additional-needs-api
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - HMPPS_AUTH_URL=http://hmpps-auth:8080/auth
      - SPRING_PROFILES_ACTIVE=dev
      - MANAGE_USERS_API_URL=https://manage-users-api-dev.hmpps.service.justice.gov.uk
      - SERVICE_BASE_URL=http://localhost:8081"

  hmpps-auth:
    image: quay.io/hmpps/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - "8090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0

  db:
    image: postgres:latest
    networks:
      - hmpps
    container_name: support-additional-needs-api-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=admin_password
      - POSTGRES_USER=admin
      - POSTGRES_DB=support-additional-needs-api-db

networks:
  hmpps:
