<h1 class="title">Support for Additional Needs</h1>
{{#.}}
    <h2>Education Support Plans</h2>
    {{#originalEducationSupportPlan}}
        <h3>Plan</h3>
        <table class="summary-list">
            <tr><td>Individual support</td><td>{{ optionalValue individualSupport }}</td></tr>
            <tr><td>Teaching adjustments</td><td>{{ optionalValue teachingAdjustments }}</td></tr>
            <tr><td>Specific teaching skills</td><td>{{ optionalValue specificTeachingSkills }}</td></tr>
            <tr><td>Exam access arrangements</td><td>{{ optionalValue examAccessArrangements }}</td></tr>
            <tr><td>Learning needs support practitioner support</td><td>{{ optionalValue lnspSupport }}</td></tr>
            <tr><td>Learning needs support practitioner support hours</td><td>{{ optionalValue lnspSupportHours }}</td></tr>
            <tr><td>Detail</td><td>{{ optionalValue otherDetails }}</td></tr>
            <tr><td>Created by</td><td>{{ optionalValue planCreatedBy.name }}</td></tr>
            <tr><td>Created by job role</td><td>{{ optionalValue planCreatedBy.jobRole }}</td></tr>
            {{#otherContributors}}
                <tr><td>Other contributor name</td><td>{{ optionalValue name }}</td></tr>
                <tr><td>Other contributor job role</td><td>{{ optionalValue jobRole }}</td></tr>
            {{/otherContributors}}
            {{^otherContributors}}
                <tr><td>Other contributor name</td><td>No Data Held</td></tr>
                <tr><td>Other contributor job role</td><td>No Data Held</td></tr>
            {{/otherContributors}}
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Created by</td>
                <td class="data-column-35">Created at</td>
                <td class="data-column-30">Created at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName createdBy }}</td>
                <td>{{ optionalValue (formatDate createdAt) }}</td>
                <td>{{ getPrisonName createdAtPrison }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Updated by</td>
                <td class="data-column-35">Updated at</td>
                <td class="data-column-30">Updated at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName updatedBy }}</td>
                <td>{{ optionalValue (formatDate updatedAt) }}</td>
                <td>{{ getPrisonName updatedAtPrison }}</td>
            </tr>
        </table>
    {{/originalEducationSupportPlan}}
    {{^originalEducationSupportPlan}}
        <p>No Data Held</p>
    {{/originalEducationSupportPlan}}

    <h2>Support strategies</h2>
    {{#supportStrategies}}
        <h3>Support strategy</h3>
        <table class="summary-list">
            <tr><td>Active</td><td>{{ convertBoolean active }}</td></tr>
            <tr><td>Archive reason</td><td>{{ optionalValue archiveReason }}</td></tr>
            <tr><td>Support strategy type</td><td>{{ optionalValue supportStrategyType.code }}</td></tr>
            <tr><td>Detail</td><td>{{ optionalValue detail }}</td></tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Created by</td>
                <td class="data-column-35">Created at</td>
                <td class="data-column-30">Created at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName createdBy }}</td>
                <td>{{ optionalValue (formatDate createdAt) }}</td>
                <td>{{ getPrisonName createdAtPrison }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Updated by</td>
                <td class="data-column-35">Updated at</td>
                <td class="data-column-30">Updated at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName updatedBy }}</td>
                <td>{{ optionalValue (formatDate updatedAt) }}</td>
                <td>{{ getPrisonName updatedAtPrison }}</td>
            </tr>
        </table>
    {{/supportStrategies}}
    {{^supportStrategies}}
        <p>No Data Held</p>
    {{/supportStrategies}}

    <h2>Strengths</h2>
    {{#nonAlnStrengths}}
        <h3>Strength</h3>
        <table class="summary-list">
            <tr><td>Active</td><td>{{ convertBoolean active }}</td></tr>
            <tr><td>Archive reason</td><td>{{ optionalValue archiveReason }}</td></tr>
            <tr><td>Strength type</td><td>{{ optionalValue strengthType.code }}</td></tr>
            <tr><td>Strength description</td><td>{{ optionalValue symptoms }}</td></tr>
            <tr>
                <td>How identified</td>
                <td>{{#howIdentified}}{{ . }}{{#unless @last}}, {{/unless}}{{/howIdentified}}</td>
            </tr>
            <tr><td>How identified other</td><td>{{ optionalValue howIdentifiedOther }}</td></tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Created by</td>
                <td class="data-column-35">Created at</td>
                <td class="data-column-30">Created at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName createdBy }}</td>
                <td>{{ optionalValue (formatDate createdAt) }}</td>
                <td>{{ getPrisonName createdAtPrison }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Updated by</td>
                <td class="data-column-35">Updated at</td>
                <td class="data-column-30">Updated at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName updatedBy }}</td>
                <td>{{ optionalValue (formatDate updatedAt) }}</td>
                <td>{{ getPrisonName updatedAtPrison }}</td>
            </tr>
        </table>
    {{/nonAlnStrengths}}
    {{^nonAlnStrengths}}
        <p>No Data Held</p>
    {{/nonAlnStrengths}}

    <h2>Challenges</h2>
    {{#nonAlnChallenges}}
        <h3>Challenge</h3>
        <table class="summary-list">
            <tr><td>Active</td><td>{{ convertBoolean active }}</td></tr>
            <tr><td>Archive reason</td><td>{{ optionalValue archiveReason }}</td></tr>
            <tr><td>Challenge type</td><td>{{ optionalValue challengeType.code }}</td></tr>
            <tr><td>Challenge description</td><td>{{ optionalValue symptoms }}</td></tr>
            <tr>
                <td>How identified</td>
                <td>{{#howIdentified}}{{ . }}{{#unless @last}}, {{/unless}}{{/howIdentified}}</td>
            </tr>
            <tr><td>How identified other</td><td>{{ optionalValue howIdentifiedOther }}</td></tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Created by</td>
                <td class="data-column-35">Created at</td>
                <td class="data-column-30">Created at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName createdBy }}</td>
                <td>{{ optionalValue (formatDate createdAt) }}</td>
                <td>{{ getPrisonName createdAtPrison }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Updated by</td>
                <td class="data-column-35">Updated at</td>
                <td class="data-column-30">Updated at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName updatedBy }}</td>
                <td>{{ optionalValue (formatDate updatedAt) }}</td>
                <td>{{ getPrisonName updatedAtPrison }}</td>
            </tr>
        </table>
    {{/nonAlnChallenges}}
    {{^nonAlnChallenges}}
        <p>No Data Held</p>
    {{/nonAlnChallenges}}

    <h2>Additional Learning Needs Assessment</h2>
    {{#alnAssessments}}
        <h3>Assessment</h3>
        <table class="summary-list">
            <tr><td>Has need</td><td>{{ convertBoolean hasNeed }}</td></tr>
            <tr><td>Screening date</td><td>{{ formatDate screeningDate }}</td></tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Created by</td>
                <td class="data-column-35">Created at</td>
                <td class="data-column-30"></td>
            </tr>
            <tr>
                <td>{{ createdBy }}</td>
                <td>{{ formatDate createdAt }}</td>
                <td></td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Updated by</td>
                <td class="data-column-35">Updated at</td>
                <td class="data-column-30"></td>
            </tr>
            <tr>
                <td>{{ updatedBy }}</td>
                <td>{{ formatDate updatedAt }}</td>
                <td></td>
            </tr>
        </table>
    {{/alnAssessments}}
    {{^alnAssessments}}
        <p>No Data Held</p>
    {{/alnAssessments}}

    <h2>ALN Screener result entered in SAN</h2>
    {{#alnScreeners}}
        <h3>Screener</h3>
        <table class="summary-list">
            <tr><td>Screening date</td><td>{{ optionalValue (formatDate screenerDate) }}</td></tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Created by</td>
                <td class="data-column-35">Created at</td>
                <td class="data-column-30">Created at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName createdBy }}</td>
                <td>{{ optionalValue (formatDate createdAt) }}</td>
                <td>{{ getPrisonName createdAtPrison }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Updated by</td>
                <td class="data-column-35">Updated at</td>
                <td class="data-column-30">Updated at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName updatedBy }}</td>
                <td>{{ optionalValue (formatDate updatedAt) }}</td>
                <td>{{ getPrisonName updatedAtPrison }}</td>
            </tr>
        </table>
        <h4>Additional Learning Needs Strengths</h4>
        {{#strengths}}
            <h5>Strength</h5>
            <table class="summary-list">
                <tr><td>From additional learning needs screener</td><td>{{ convertBoolean fromALNScreener }}</td></tr>
                <tr><td>Additional learning needs screener date</td><td>{{ formatDate alnScreenerDate }}</td></tr>
                <tr><td>Active</td><td>{{ convertBoolean active }}</td></tr>
                <tr><td>Strength type</td><td>{{ optionalValue strengthType.code }}</td></tr>
            </table>
            <table class="data-table">
                <tr>
                    <td class="data-column-30">Created by</td>
                    <td class="data-column-35">Created at</td>
                    <td class="data-column-30">Created at prison</td>
                </tr>
                <tr>
                    <td>{{ getUserLastName createdBy }}</td>
                    <td>{{ optionalValue (formatDate createdAt) }}</td>
                    <td>{{ getPrisonName createdAtPrison }}</td>
                </tr>
            </table>
        {{/strengths}}
        {{^strengths}}
            <p>No Data Held</p>
        {{/strengths}}
        <h4>Additional Learning Needs Challenges</h4>
        {{#challenges}}
            <h5>Challenge</h5>
            <table class="summary-list">
                <tr><td>From additional learning needs screener</td><td>{{ convertBoolean fromALNScreener }}</td></tr>
                <tr><td>Additional learning needs screener date</td><td>{{ formatDate alnScreenerDate }}</td></tr>
                <tr><td>Active</td><td>{{ convertBoolean active }}</td></tr>
                <tr><td>Challenge type</td><td>{{ optionalValue challengeType.code }}</td></tr>
            </table>
            <table class="data-table">
                <tr>
                    <td class="data-column-30">Created by</td>
                    <td class="data-column-35">Created at</td>
                    <td class="data-column-30">Created at prison</td>
                </tr>
                <tr>
                    <td>{{ getUserLastName createdBy }}</td>
                    <td>{{ optionalValue (formatDate createdAt) }}</td>
                    <td>{{ getPrisonName createdAtPrison }}</td>
                </tr>
            </table>
        {{/challenges}}
        {{^challenges}}
            <p>No Data Held</p>
        {{/challenges}}
    {{/alnScreeners}}
    {{^alnScreeners}}
        <p>No Data Held</p>
    {{/alnScreeners}}

    <h2>Plan Creation Schedules</h2>
    {{#planCreationSchedules}}
        <h3>Schedule</h3>
        <table class="summary-list">
            <tr><td>Deadline date</td><td>{{ optionalValue (formatDate deadlineDate) }}</td></tr>
            <tr><td>Status</td><td>{{ optionalValue status }}</td></tr>
            <tr><td>Version</td><td>{{ optionalValue version }}</td></tr>
            <tr><td>Exemption reason</td><td>{{ optionalValue exemptionReason }}</td></tr>
            <tr><td>Exemption detail</td><td>{{ optionalValue exemptionDetail }}</td></tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Created by</td>
                <td class="data-column-35">Created at</td>
                <td class="data-column-30">Created at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName createdBy }}</td>
                <td>{{ optionalValue (formatDate createdAt) }}</td>
                <td>{{ getPrisonName createdAtPrison }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Updated by</td>
                <td class="data-column-35">Updated at</td>
                <td class="data-column-30">Updated at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName updatedBy }}</td>
                <td>{{ optionalValue (formatDate updatedAt) }}</td>
                <td>{{ getPrisonName updatedAtPrison }}</td>
            </tr>
        </table>
    {{/planCreationSchedules}}
    {{^planCreationSchedules}}
        <p>No Data Held</p>
    {{/planCreationSchedules}}

    <h2>Review Schedules</h2>
    {{#reviewSchedules}}
        <h3>Schedule</h3>
        <table class="summary-list">
            <tr><td>Deadline date</td><td>{{ optionalValue (formatDate deadlineDate) }}</td></tr>
            <tr><td>Status</td><td>{{ optionalValue status }}</td></tr>
            <tr><td>Exemption reason</td><td>{{ optionalValue exemptionReason }}</td></tr>
            <tr><td>Version</td><td>{{ optionalValue version }}</td></tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Created by</td>
                <td class="data-column-35">Created at</td>
                <td class="data-column-30">Created at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName createdBy }}</td>
                <td>{{ optionalValue (formatDate createdAt) }}</td>
                <td>{{ getPrisonName createdAtPrison }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Updated by</td>
                <td class="data-column-35">Updated at</td>
                <td class="data-column-30">Updated at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName updatedBy }}</td>
                <td>{{ optionalValue (formatDate updatedAt) }}</td>
                <td>{{ getPrisonName updatedAtPrison }}</td>
            </tr>
        </table>
    {{/reviewSchedules}}
    {{^reviewSchedules}}
        <p>No Data Held</p>
    {{/reviewSchedules}}

    <h2>Conditions</h2>
    {{#conditions}}
        <h3>Condition</h3>
        <table class="summary-list">
            <tr><td>Active</td><td>{{ convertBoolean active }}</td></tr>
            <tr><td>Archive reason</td><td>{{ optionalValue archiveReason }}</td></tr>
            <tr><td>Condition type</td><td>{{ optionalValue conditionType.code }}</td></tr>
            <tr><td>Other condition name</td><td>{{ optionalValue conditionName }}</td></tr>
            <tr><td>Source</td><td>{{ optionalValue source }}</td></tr>
            <tr><td>Details</td><td>{{ optionalValue conditionDetails }}</td></tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Created by</td>
                <td class="data-column-35">Created at</td>
                <td class="data-column-30">Created at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName createdBy }}</td>
                <td>{{ optionalValue (formatDate createdAt) }}</td>
                <td>{{ getPrisonName createdAtPrison }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Updated by</td>
                <td class="data-column-35">Updated at</td>
                <td class="data-column-30">Updated at prison</td>
            </tr>
            <tr>
                <td>{{ getUserLastName updatedBy }}</td>
                <td>{{ optionalValue (formatDate updatedAt) }}</td>
                <td>{{ getPrisonName updatedAtPrison }}</td>
            </tr>
        </table>
    {{/conditions}}
    {{^conditions}}
        <p>No Data Held</p>
    {{/conditions}}
{{/.}}
