---
# Per environment values which override defaults in hmpps-support-additional-needs-api/values.yaml

generic-service:
  ingress:
    hosts:
      - support-for-additional-needs-api.hmpps.service.justice.gov.uk

  env:
    HMPPS_AUTH_URL: "https://sign-in.hmpps.service.justice.gov.uk/auth"
    PRISONER_SEARCH_API_URL: https://prisoner-search.prison.service.justice.gov.uk
    CURIOUS_API_URL: https://liveservices.sequation.com/sequation-virtual-campus2-api
    MANAGE_USERS_API_URL: https://manage-users-api.hmpps.service.justice.gov.uk
    SERVICE_BASE_URL: https://support-for-additional-needs-api.hmpps.service.justice.gov.uk
    UI_SERVICE_BASE_URL: https://support-for-additional-needs.hmpps.service.justice.gov.uk
    BANK_HOLIDAYS_API_URL: https://www.gov.uk
    ADDITIONAL_REVIEW_DATE_LOGIC: true

  postgresDatabaseRestore:
    jobName: san-prod-to-preprod-restore
    enabled: true
    timeout: 900
    namespace_secrets:
      rds-postgresql-instance-output:
        DB_NAME: "database_name"
        DB_USER: "database_username"
        DB_PASS: "database_password"
        DB_HOST: "rds_instance_address"
      rds-postgresql-instance-output-preprod:
        DB_NAME_PREPROD: "database_name"
        DB_USER_PREPROD: "database_username"
        DB_PASS_PREPROD: "database_password"
        DB_HOST_PREPROD: "rds_instance_address"

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: hmpps-support-additional-needs-prod
