---
# Per environment values which override defaults in hmpps-support-additional-needs-api/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    hosts:
      - support-for-additional-needs-api-dev.hmpps.service.justice.gov.uk
      - san-api-dev.hmpps.service.justice.gov.uk

  scheduledDowntime:
    enabled: true
    startup: '30 6 * * 1-5' # Start at 6.30am UTC Monday-Friday
    shutdown: '00 21 * * 1-5' # Stop at 9.00pm UTC Monday-Friday

  env:
    SPRING_PROFILES_ACTIVE: dev
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: "applicationinsights.dev.json"
    HMPPS_AUTH_URL: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"
    PRISONER_SEARCH_API_URL: https://prisoner-search-dev.prison.service.justice.gov.uk
    CURIOUS_API_URL: https://testservices.sequation.net/sequation-virtual-campus2-api
    MANAGE_USERS_API_URL: https://manage-users-api-dev.hmpps.service.justice.gov.uk
    SERVICE_BASE_URL: https://support-for-additional-needs-api-dev.hmpps.service.justice.gov.uk
    BANK_HOLIDAYS_API_URL: https://www.gov.uk
    ENABLE_TEST_ENDPOINTS: true

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: digital-prison-service-dev
  businessHoursOnly: true
